/* https://spin.atomicobject.com/2015/07/14/css-responsive-square/ */

.image-wrapper-square {
  position: relative;
  width: 90%;
  margin: auto;
}

.image-wrapper-square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.image-wrapper-square img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.boende {
  position: relative;
  width: 90%;
  margin: auto;
}

.boende h3 {
  margin-top: 30px;
}
.boende p {
  margin-bottom: 50px;
}

.info-ruta {
  border: 5px solid;
  border-color: #ba9284;
  margin: 5%;
  padding: 30px;
  text-align: center;
}

.box {
  margin-top: 30px;
  background-color: #ba9284;
  margin: 5%;
  padding: 100px;
  text-align: center;
}

.last-pic img {
  width: 100vw;
  margin-top: 30px;
}
