/* mobile first */

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
  font-family: "Raleway", sans-serif;
}
header img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
}

.nav {
  position: absolute;
  justify-content: space-between;
  display: flex;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  transition-duration: 0.5s;
  z-index: 1;
  /* padding: 1rem; */
}

.booking {
  padding: 1rem;
}

.nav-toggle {
  position: absolute;
  cursor: pointer;
}

.nav-background {
  background-color: rgba(0, 0, 0, 0.6);
}

svg {
  width: 1.5rem;
  fill: white;
}

.close {
  display: none;
}

svg {
  width: 1.5rem;
  fill: white;
}

.close {
  display: none;
}

.nav-checkbox {
  display: none;
}
.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  gap: 1rem;
  margin-top: 50px;
}

.nav-menu li {
  list-style: none;
  display: none;
}
.logotype {
  width: 40%;
  padding-top: 50px;
  margin-top: 50px;
  position: absolute;
}

.hamburger-menu {
  display: flex;
  justify-content: right;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}
#nav-checkbox:checked ~ ul.nav-menu li {
  display: block;
}
#nav-checkbox:checked ~ label.nav-toggle .close {
  display: block;
}
#nav-checkbox:checked ~ label.nav-toggle .menu {
  display: none;
}

li:hover a {
  border-bottom: 1px solid white;
}

/* text on photo */
.welcome-text {
  position: absolute;
  bottom: 70px;
  right: 24px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
}

/* footer  */
footer {
  height: 20rem;
  width: 100%;
  background-color: #ba9284;

  justify-content: center;
}
.svg-keys {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-left: 8rem;
}
.scr {
  width: 6rem;
}
.camping {
  width: 7rem;
}
ul li {
  list-style: none;
}
ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.camping-key {
  width: 150px;
}

@media only screen and (min-width: 850px) {
  .nav-toggle {
    display: none;
  }
  .nav-menu {
    flex-direction: row;
    margin-top: 0;
  }
  .nav-menu li {
    display: block;
  }

  header img {
    height: 170vh;
  }

  .logotype {
    margin-top: 100px;
  }

  .svg-keys {
    margin-top: 5rem;
  }
}

@media only screen and (min-width: 740px) {
  section {
    display: flex;
    padding: 2rem;
    gap: 1rem;
    justify-content: center;
  }
  .reverse {
    flex-direction: row-reverse;
  }
  .column {
    flex-direction: column;
  }
  .column .slides {
    width: 295px;
  }
  .spelningar {
    position: absolute;
  }
  .box {
    width: 100%;
  }

  .nav {
    padding-top: 1rem;
    padding-right: 1rem;
  }

  .welcome-text {
    bottom: 200px;
    right: 24px;
    font-size: larger;
  }

  footer {
    display: flex;
    flex-direction: row-reverse;
  }

  footer ul {
    margin: 100px;
  }
}

@media only screen and (min-width: 940px) {
  .column .slides {
    width: 400px;
  }
}
@media only screen and (min-width: 1064px) {
  header img {
    height: 200vh;
  }
  .column .slides {
  }
}
