/* mobile first */

* {

    box-sizing: border-box;
    
}
body {
    margin: 0;
    padding: 0;
    color: white;
}
header img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  
  header {
    position: relative;
  }
.nav {
    position: absolute;
    justify-content: space-between;
    display: flex;
    width: 100%;
    padding: 1rem;
    
  }
  
  .nav-toggle {
    position: absolute;
    cursor: pointer;
    
  }

  svg {
    width: 1.5rem;
    fill: white;
  }
  
  .close {
    display: none;
  }
 
 
  
  .nav-checkbox {
    display: none;
  }
  .nav-menu{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
  }
 
  .nav-menu li {
    list-style: none;
    display: none;

    
  }
  .logotype {
      width: 40%;
      padding-top: 50px;
      
  }
  
  a {
    text-decoration: none;
    color: inherit;
    
  }
  #nav-checkbox:checked ~ ul.nav-menu li {
    display: block;
  }
  #nav-checkbox:checked ~ label.nav-toggle .close {
    display: block;
  }
  #nav-checkbox:checked ~ label.nav-toggle .menu {
    display: none;
  }
  li:hover a {
    color: rgb(112, 111, 111);
  }

  /* text on photo */
  .welcome-text {
    
    position: absolute;
    bottom: 70px;
    right: 24px;
    width: 50%;
  }
  .welcome-text p {
    
  }
  @media only screen and (min-width: 850px) {
    .nav-toggle {
      display: none;
    }
    .nav-menu {
      flex-direction: row;
    }
    .nav-menu li {
      display: block;
    }
  }